<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <link rel="shortcut icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/tableAluno.css">
</head>
<body>
    <div class="box-title">
        <h1 class="title">Lista de Alunos</h1>
    </div>
    <table id="myTable">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Matrícula</th>
            <th>E-mail</th>
            <th>Status</th>
        </tr>
    </table>
    <script>
        fetch('http://localhost:3000/api/lista').then(res => res.json()).then(data => {
            const table = document.getElementById('myTable')
            data.forEach(item => {
                const row = table.insertRow()
                row.insertCell(0).innerHTML = item.nome;
                row.insertCell(1).innerHTML = item.dataNasc;
                row.insertCell(2).innerHTML = item.matricula;
                row.insertCell(3).innerHTML = item.email;
                row.insertCell(4).innerHTML = item.status;

                const cell = row.insertCell();
                const  button1 = document.createElement('button');
                const  button2 = document.createElement('button');
                button1.textContent = 'Deletar';
                button2.textContent = 'Atualizar'
                button1.addEventListener('click', () => {
                    deleteItem(item._id)
                })
                button2.addEventListener('click', () => {
                    atualizaItem(item._id)
                })
                cell.appendChild(button1)
                cell.appendChild(button2)
            })
        })

        const deleteItem = (id) => {
           fetch('http://localhost:3000/api/interest/' + id, {
            method: 'DELETE'
           }).then(res => {
            if(res.ok) {
                window.location.href = "http://localhost:3000/api/aluno/"
            } else {console.log('NAO OK')}
           })
        }

        const atualizaItem = () => {
            window.location.href = 'http://localhost:3000/'
        }

    </script>
</body>
</html>