<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastramento e atualização de dados</title>
    <link rel="stylesheet" href="../public/css/cadastro.css">
    <script src="https://kit.fontawesome.com/280d7ede1c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="box-formulario">
        <div class="formulario">
            <div class="box-title">
                <h1 class="title">Cadastro do aluno</h1>
            </div>

            <form action="/api/interest" method="post">
                <span>
                    <input type="text" class="input-hidden" id="nome" name="nome" placeholder="Nome" autocomplete="off" required=""/>
                    <label for="nome"><i class="fa-solid fa-user"></i></label>
                </span>

                <span>
                    <input type="text" class="input-hidden" id="dataNasc" name="dataNasc" placeholder="Data de nascimento" autocomplete="off" required=""/>
                    <label for="dataNasc"><i class="fa-solid fa-calendar-days"></i></label>
                </span>

                <span>
                    <input type="text" class="input-hidden" id="matricula" name="matricula" placeholder="Matrícula" autocomplete="off" required=""/>
                    <label for="matricula"><i class="fa-solid fa-code"></i></label>
                </span>

                <span>
                    <input type="text" class="input-hidden" id="email" name="email" placeholder="E-mail" autocomplete="off" required=""/>
                    <label for="email"><i class="fa-solid fa-envelope"></i></label>
                </span>

                <div class="box-btn">
                    <input type="submit" value="Enviar" class="btn-submit">
                    <input type="submit" value="Cancelar" class="btn-submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>